<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    	<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    </head>
	
	<body>
		<h1 class="welcome">Welcome to Barter Raleigh, {name}!</h1>


		<h3 class="option">Here are a few options to get you going.</h3>

		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<p>First column of text. 
				</div>

				<div class="col-md-4">
					<p>Second column of text
				</div>

				<div class="col-md-4">
					<p>Third column of text
				</div>
			</div>
		</div>

        <script src="http://code.jquery.com/jquery.js"></script>
    	<script src="js/bootstrap.min.js"></script>
	</body>

</html>