<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
	
	<body>
		<h1 class="welcome">Welcome to Barter Raleigh, {name}!</h1>


		<h3 class="option">Here are a few options to get you going.</h3>

		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<p class="link"><a href="../pages/edit_profile">Edit Profile</a></p> 
					<p class="text">Use this link to make changes to your profile.  Make it easy for us to get to know you, we can become friends :)</p>
				</div>

				<div class="col-md-4">
					<p class="link"><a href="../pages/marketplace">Start Trading</a></p>
					<p class="text">If you are the kind of person who likes to skip the intro and get right into the thick of things, then by all means head into the marketplace and start trading now!</p>
				</div>

				<div class="col-md-4">
					<p class="link"><a href="../pages/help">Get Help</a></p>
					<p class="text">Feel like you are trying to navigate the Water Temple without a good map?  Our support team will get you back on track in no time!</p>
				</div>
			</div>
		</div>

        <script src="http://code.jquery.com/jquery.js"></script>
    	<script src="js/bootstrap.min.js"></script>
	</body>

</html>