// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.welcome {
	text-align: center;
	margin: 15px;
}

.option {
	text-align: center;
	margin: 15px;
	font-size: 15px;
}

.link {
	text-align: center;
}

.text {
	border-style: solid;
	border-color: black;
	margin: 15px;
}